@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600;700;800&display=swap');
@import "tailwindcss" theme(static);
@import "@nuxt/ui";

html {
  font-family: 'Outfit', sans-serif;
  line-height: 1.5;
}

@theme static {
  --font-sans: 'Outfit', sans-serif;

  --color-primary-50: #e8ecff;
  --color-primary-100: #c5d0ff;
  --color-primary-200: #9eb1ff;
  --color-primary-300: #6f88ff;
  --color-primary-400: #3f5fff;
  --color-primary-500: #001772;
  --color-primary-600: #00145f;
  --color-primary-700: #00104d;
  --color-primary-800: #000c3b;
  --color-primary-900: #000729;

  --color-secondary-500: #fed000;
  --color-tertiary-500: #068700;
}